.progress-bar-fun {
    background-color: #aae7d8 !important;
}

.progress-bar-enjoy {
    background-color: #ebc4c4 !important;
}

.progress-bar-boring {
    background-color: khaki !important;
}

#about {
    font-size: xx-large;
    font-weight: bold;
}

.sliders {
    font-weight: bold;
}

#what {
    background-color: rgba(255, 240, 245, 0.575);
}
