<div class="container">
    <div class="row">
        <div class="col">
            <div style="text-align:center"> 
                <img src="../../../assets/logo_round.png" class="img-fluid" height="350" width="350">
              </div>  
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="text-align:center;" id="about">    
                O nama
            </div>
        </div>
    </div>
    <br><br>
    <div class="row"   id="what">
        <div class="col">
            <div>
                <b>Šta je Pictionary?</b>
                <br>
                Pictionary je igra za više igrača koja ima nameru da zabavi. Igra se zasniva na crtanju i pogađanju zadatih pojmova. 
                Jedna igra se sastoji iz određenog broja rundi u kojima igrači crtaju (kada dodje red na određenog igrača) i pogađaju reči. 
                Svaka pogođena reč donosi određen broj poena u zavisnosti od proteklog vremena od početka crtanja tog pojma. 
                Igrač koji na kraju partije ima najveći broj poena je POBEDNIK!
            </div>
            <br>
            <div>
                <b>Kako da igram igru?</b>
                <br>
                Kada je tvoj red za crtanje, biraš jednu od ponuđenih reči i nju objašnjavaš saigračima. 
                Objašnjavaš tako što se trudiš da što bolje nacrtaš zadatu reč. Na taj način i ti osvajaš više poena (u zavisnosti od toga koliko 
                igrača pogodi šta crtaš i za koliko vremena). 
                Kada nije tvoj red, pogađaš ono što jedan od saigrača pokušava da objasni. 
                Budi brz jer ukoliko brzo pogodiš zadatu reč, osvajaš veći broj poena!
            </div>
        </div>
        <div class="col-sm sliders">
            <br>Zabava
            <div class="progress">
                 <div class="progress-bar progress-bar-striped progress-bar-fun" role="progressbar" style="width: 90%; color:black" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
              <br><br><br>Opuštanje
              <div class="progress">
                 <div class="progress-bar progress-bar-striped progress-bar-enjoy" role="progressbar" style="width: 80%; color:black" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
              <br><br><br>Druženje
              <div class="progress">
                 <div class="progress-bar progress-bar-striped progress-bar-boring" role="progressbar" style="width: 95%; color:black" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>
              <br><br>
        </div>
    </div>
</div>